<template>
  <div>
    <div style="text-align:center;padding:50px;">
      Dubbelklicka på text-element för att redigera. Dra och släpp för att ändra ordning.
    </div>
    <div style="background:#333;color:#fff;padding:0.5em;display:flex" class="top">
      <button style="margin-right:5px" v-on:click="this.save">Save</button>
      <!-- <select style="margin-right:5px" v-if="selected && selected.type == 'article'">
        <option>Paragraph</option>
        <option>H1</option>
        <option>H2</option>
      </select>
      <button v-if="selected && selected.type == 'article'" style="margin-right:5px">B</button>
      <button v-if="selected && selected.type == 'article'" style="margin-right:5px">I</button>
      <button v-if="selected && selected.type == 'article'" style="margin-right:5px">U</button>
      <button v-if="selected && selected.type == 'article'" style="margin-right:5px">Media</button> -->
      <div style="margin-left:auto;display:flex">
        <select style="margin-left:5px" v-if="selected && selected.type == 'article'">
          <option>Standard</option>
          <option>Centered text</option>
          <option>Image + text</option>
        </select>
        <!-- <select style="margin-left:5px" v-if="selected && selected.type == 'media'">
          <option>None</option>
          <option>Cover</option>
          <option>Contain</option>
        </select> -->
        <select style="margin-left:5px">
          <option>25%</option>
          <option>50%</option>
          <option>75%</option>
          <option>100%</option>
        </select>
        <button style="margin-left:5px" v-if="selected">-</button>
        <button style="margin-left:5px">+</button>
      </div>
    </div>
    <div style="display:flex;flex-wrap:wrap;margin:0 -5px;justify-content:center;max-width:800px;margin:0 auto" v-sortable>
      <div v-for="(item, index) in items" v-bind:style="'width:'+item.width+'%;padding:5px;box-sizing:border-box;'"
        v-bind:class="item.presentation"
      >
        <div style="padding:5px;position:relative" class="sortable" v-on:dblclick="selected=item">
          <!-- <button v-on:click="selected=item" style="position:absolute;top:0;right:0;">edit</button> -->
          <div class="flex" style="display:flex">
            <div v-if="item.type=='media'">
              <img v-bind:src="item.src">
            </div>
            <div v-if="item.presentation=='imageAndText'" v-bind:style="'background-size:cover; background-image:url(' + item.src + ');'">
              <!-- :) -->
            </div>
            <div v-if="item != selected && item.type =='article'" class="text" v-html="item.content"></div>
            <div v-if="item == selected && item.type =='article'">
              <!-- <tinymce v-if="false" v-bind:id="'editor'+index" v-model="editor" :content="item.content"></tinymce> -->
              <vue-editor v-model="item.content"></vue-editor>
            </div>
            <div v-if="item.type=='product'" v-bind:style="'width:100%;background-size:cover; background-image:url(' + item.src + ');'">
              <div style="padding-top:75%"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.ql-toolbar,
.mce-top-part {
  position: fixed !important;
  z-index: 10;
  top: 35px;
  left: 0;
  right: 0;
  background-color: #fff !important;
}
img {
  max-width: 100%;
}
.imageAndText .flex > * {
  width: 50%;
  box-sizing: border-box;
}
.imageAndText:nth-of-type(2n) .flex {
  flex-direction: row-reverse;
}
.imageAndText .text {
  padding: 1em;
}
.sortable {
  cursor: move;
  border: 2px dotted #999;
}
.sortable:hover {
  border-color: hotpink;
}
.ql-container.ql-snow,
.quillWrapper {
  border: none !important;
}
.ql-editor {
  padding: 0 !important;
}
</style>

<script>

import { VueEditor } from 'vue2-quill-editor'

var lorem = "<h1>Lorem ipsum</h1><p>dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>";

export default {
  components: {
    VueEditor
  },
  props: ['options'],
  data () {
    return {
      msg: 'Hello world!',
      selected: null,
      items: [
        {width:100,edit:false,type:'media',src:'https://images.unsplash.com/photo-1440658172029-9d9e5cdc127c?auto=format&fit=crop&w=1280&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D',presentation:'standard'},
        {width:100,edit:false,type:'article',presentation:'standard',
          content:lorem
        },
        {width:100,edit:false,type:'article',presentation:'imageAndText',src:'https://images.unsplash.com/photo-1505440484611-23c171ad6e96?auto=format&fit=crop&w=1037&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D',
          content:lorem
        },
        {width:100,edit:false,type:'article',presentation:'imageAndText',src:'https://images.unsplash.com/photo-1463319544068-9bda29ebe93c?auto=format&fit=crop&w=1051&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D',
          content:lorem
        },
        {width:25,edit:false,presentation:'standard',type:'product',
        src:'https://images.unsplash.com/photo-1487241281672-301e0f542588?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'},
        {width:25,edit:false,presentation:'standard',type:'product',src:'https://images.unsplash.com/photo-1502801470544-d3188a55b4bd?auto=format&fit=crop&w=1059&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'},
        {width:25,edit:false,presentation:'standard',type:'product',src:'https://images.unsplash.com/photo-1485394735640-56c0356b62cf?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'},
        {width:25,edit:false,presentation:'standard',type:'product',src:'https://images.unsplash.com/photo-1506842605307-bbcbd9ea121f?auto=format&fit=crop&w=967&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'},
      ]
    }
  },
  mounted() {
    console.log("mounted")
    console.log(this.msg)
  },
  methods: {
    save: function() {
      console.log("save")
    }
  }
}

</script>
